<div class="profile-card">
  <div class="avatar-name">
    <div class="profile-card__avatar">
          <img src="./assets/images/rayn.jpg" alt="avatar" >
    </div>
    <div class="profile-card__name">
        <strong class="h6">Райн гослинг</strong>
        <span class="subttile">rayn.gosling</span>
    </div>  
  </div>
  <div class="profile-card__description">
    Запускай своё путешествие в мир Angular с моим ПОЛНЫМ курсом для начинающих! За 5 часов ты освоите основы и продвинутые аспекты Angular, чтобы начать создавать мощные веб-приложения. Всё, что вам нужно, чтобы прыгнуть с головой в мир фронтенд разработки, ждёт вас здесь!
  </div>
  <div class="profile-card__tags">
    <div class="skill-tag">Angular</div>
    <div class="skill-tag">HTML</div>
    <div class="skill-tag">CSS</div>
    <div class="skill-tag">REST</div>
  </div>
  <div class="profile-card__actions-btns">
    <button class="btn">Подписаться</button>
  </div>
</div>