<main>
    <form class="login-form" action="">
        <h2>Вход</h2>
        <div class="standart-input-wrapper">
            <label for="">
                Telegram username  
                <input type="text" class="standart-input">
            </label>
        </div>
        <div class="standart-input-wrapper">
            <label for="">
                Пароль  
            <input type="password" class="standart-input">
            </label>
        </div>
        <button class="btn">Войти</button>
    </form>
    <img src="/assets/images/logo.svg" alt="">
</main>
