/* You can add global styles to this file, and also import other style files */
@import "fonts";

*{
    box-sizing: border-box !important;
}
:root{
    --dark-color: #000000;
    --light-color: #FFFFFF;
    --primary-color:#AE7AFF;
}
html, body {
  height: 100%;
  margin: 0; /* Важно убрать стандартные отступы у body */
  padding: 0; /* Также убираем отступы */
}
body{
    font-family: "JetBrains Mono";
    background-color: var(--dark-color);
    background-image: url('/assets/images/bg.jpg');
    color: var(--light-color);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.skill-tag{
    padding: 1px 8px;
    border-radius: 4px;
    border: 1px solid var(--light-color);
    display: inline;
    font-weight: 700;
    height: fit-content;
}
.btn{
    border: none;
    background-color: var(--primary-color);
    color: var(--dark-color);
    padding: 10px 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
}
.h6{
    font-family: 'JetBrains Bold';
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
}
.subttile{
    font-size: 14px;
    line-height: 21px;
    font-family: 'JetBrains Thin';
}

